OldVersions/
__pycache__
Figures/
snapshots/
snapshots
Dump/
Gadgetviewer/Settings
Gadgetviewer/Images
Gadgetviewer/Movies
Gadgetviewer/Movie_params
.ipynb_checkpoints/
*.hdf5
*.dat
*.npy

npy_to_hdf5.py
